@import 'helpers.scss';

.mainBasketContainer {
  @include pageTemplate;
  @include flexJustifyCenter;
}

.elementsBasketContainer {
  width: 80%;
  @include columnAlignCenter;
}

.elementBasket{
  width: 100%;
  @include flexJustifyEvenly;
  align-items: center;
  height: 150px;
  margin: 20px 0;
  @include borderBlack40px;
}
.paymentSummary{
  width: 400px;
  height: 200px;
  @include flexColumn;
  justify-content: space-evenly;
  align-items: center;
  @include borderBlack40px;
}
.basketInfo{
  font-size: 40px;
  font-weight: 400;
}