@import "helpers.scss";

.editFormDiv {
  width: 100%;
  @include columnAlignCenter;
  justify-content: center;
  margin: 20px 0;
}

.editForm {
  @include columnAlignCenter;
  height: 500px;
  width: 800px;
}

.editInfo {
  font-size: 30px;
}

.editInput {
  @include basicInput;
}

.disabledInput {
  @include basicInput;
  text-align: center;
  background: white;
  color: black;
}