@import 'helpers.scss';

.footer {
  background-color: lightgray;
  color: black;
  text-align: center;
  padding: 30px 0;
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  @include flexJustifyEvenly;
}
.footerElements{
  cursor: pointer;
}
.contentContainerFooter{
@include pageTemplate;
  justify-content: center;
}