@mixin flexJustifyCenter{
  display: flex;
  justify-content: center;
}

@mixin flexItemsCenter{
  display: flex;
  align-items: center;
}


@mixin columnAlignCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin columnJustifyCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flexJustifyEvenly{
  display: flex;
  justify-content: space-evenly;
}

@mixin flexCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin setInfoOrWarring{
  margin: 2px auto;
  font-weight: normal;
  font-size: 20px;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
@mixin basicFrame{
  display: flex;
  border: lightslategray 1px solid;
  border-radius: 30px;
}
@mixin basicInput{
  height: 50px;
  width: 400px;
  padding: 10px;
  font-size: 30px;
  border-radius: 30px;
  border: none;
  background: $grayGradient;
}

@mixin borderBlack40px{
  border: solid 1px black;
  border-radius: 40px;
}

@mixin w200h50{
  width: 200px;
  height: 50px;
}
@mixin basicButton{
  border-radius: 30px;
  cursor: pointer;
  background: black;
  color: white;
  box-shadow: 2px 2px 8px gray;
}
@mixin basicButtonHover{
  background: $buttonHoverColor;
}
@mixin pageTemplate{
  width: 100%;
  min-height: 90vh;
  display: flex;
  margin: 20px 0;
}
@mixin w100h100{
  width: 100%;
  height: 100%;
}
.hidden{
  display: none;
}
$grayGradient: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
$buttonHoverColor: #151515;
