*{
  margin: 0;
  padding: 0;
  font-family: Inconsolata, serif; ///POBRAĆ A NIE CIĄGNĄĆ Z GOOGLE
}
a{
  display: none;
}
.mainPhoto{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.mainPhoto img {
  width:100%;
  cursor: pointer;
}
.discountText{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding: 20px 0;
}
.redText{
  color:red;
}
.productContainer{
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  place-items: center;
}
.productLayout{
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 40px;
  border: black solid 1px;
  cursor: pointer;
}
.productLayout img{
  width: 300px;
  margin: 0 auto;
}
.productInfo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.productLayout:hover{
  scale: 1.05;
}

@media screen and (max-width: 1300px) {
  .productContainer{
    grid-template-columns: repeat(2, 1fr);

  }
}

@media screen and (max-width: 900px) {
  .productContainer{
    grid-template-columns: repeat(1, 1fr);

  }
}