@import 'helpers.scss';

.addContainer{
  @include pageTemplate;
  @include columnAlignCenter;
  gap: 20px;
}
.sizes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 50px;
  margin:40px 0;
}
.sizePanel{
  @include flexCenterCenter;
  width: 200px;
  gap: 10px;
}
.addSizeForm{
  @include columnAlignCenter;
  gap:10px;
}
.product{
  @include flexCenterCenter;
  width:800px;
  justify-content: space-evenly;
  gap:60px;
}
.forms{
  @include flexCenterCenter;
  width: 100%;
  justify-content: space-evenly;
}
.statusPanel{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
  width: 1200px;
  gap: 50px;
}
.addInput{
  @include basicInput;
}
.adminButton{
  height: 50px;
  width: 130px;
  @include basicButton;
}
.adminButton:hover{
  @include basicButtonHover;
}
.selectAdmin{
  height: 60px;
  width: 180px;
  border-radius: 30px;
  padding: 10px;
  font-size: 15px;
}
.orderForm{
  @include flexCenterCenter;
  gap:20px;
}
.textAreaAdmin{
  height: 300px;
  width: 500px;
  padding: 10px;
}
.inputPriceAdmin{
  height: 30px;
  width: 150px;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
}
.manageIcon{
  transition: transform 0.3s ease;
  cursor: pointer;
}

.manageIcon:hover{
  transform: rotateZ(30deg);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  @include flexColumn;
  width: 400px;
  height: 100px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modalButtons {
  @include flexJustifyEvenly;
  align-items: center;
  height: 150px;
}

.modalButton{
  @include basicButton;
  width: 100px;
  height: 50px;
}
.modalButton:hover{
  @include basicButtonHover;
}

@media screen and (max-width: 1300px) {
  .paymentAndStatusDiv{
    width:600px;
  }
  .sizes{
    grid-template-columns: repeat(2, 1fr);
  }
  .statusPanel{
   scale: 0.75;
  }
}